/* Medium Layout: 1366px. */
@media only screen and (min-width:1201px) and (max-width:1366px){
    .how-it-work .how-it-work-progress{
        left: 50%;
    }
}
/* Medium Layout: 1200px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navbar-area .navbar-collapse .navbar-nav .nav-item {
        display: inline-block;
        font-size: 13px;
        line-height: 45px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 20px 5px;
        position: relative;
    }
    
    .how-it-work .how-it-work-progress {
        left: 40%;
    }
    .footer .footer-middle .part-link {
        margin-bottom: 30px;
    }
    
    .footer .footer-middle {
        padding-bottom: 30px;
    }
    .header-area .header-bottom .header-bottom-inner {
        padding: 70px 40px 60px 40px;
    }
    .header-area .header-bottom .header-bottom-inner .left-content-area .title {
        font-size: 42px;
        line-height: 55px;
    }
    .header-area .header-inner .subtitle {
        font-size: 80px;
    }
    .header-area .header-inner .title {
        font-size: 75px;
        line-height: 85px;
    }
    .section-title .title {
        font-size: 43px;
        line-height: 53px;
    }
    .we-can-develop .left-content ul li,
    .we-can-develop .right-content ul li {
        font-size: 18px;
    }
    .single-featured-item .content .title {
        font-size: 18px;
        line-height: 25px;
    }
    .about-us-header-area .about-header-inner .title {
        font-size: 50px;
        line-height: 60px;
    }
    .career-header-area .career-header-inner p {
        font-size: 25px;
        line-height: 35px;
    }
    .single-shared-hosting-item-two .content .title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 15px;
    }
    .single-shared-hosting-item-two .icon {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 14px;
    }
    .single-script-item .content .bottom-content .right-content {
        float: none;
        margin-top: 10px;
    }
    /* 1024 nav fix*/
    .logo.main-logo img {width: 200px;}
    
    .screenshort-block .button-list {
        display: block;
        text-align: center;
    }
    
    .screenshort-block .share-links {
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }

}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
      
    .navbar-area .navbar-collapse {
        position: absolute;
        top: 70px;
        background: #000036;
        z-index: 9;
        right: 0;
        width: 250px;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show {
        border: 0;
    }
    .navbar-area.navbar.navbar-light .navbar-toggler {
        background: #fff;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link.pl-0 {
        padding-left: 0.4rem !important;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item {
        padding: 0;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item {
        color: #fff;
    }
    .dropdown-item {
        background: #000036;
        color: #fff;
        border: 0;
    }
    
    .logo-wrapper.navbar-brand {
        padding-top: 0;
    }

    .logo-wrapper.navbar-brand {
        padding-top: 0;
    }

    .navbar-area .navbar-collapse .navbar-nav .nav-item {
        line-height: 35px;
    }
    
    .navbar-area.nav-fixed {
        padding: 20px 0;
    }
    
    .navbar-area .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu {
        border: none;
    }
    .navbar-area.nav-fixed .navbar-collapse {
        top: 80px;
    }
    .breadcrumb-area .right-content-area {
        float: none;
        margin-top: 10px;
    }
    .nav-container{
        position: relative;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item.nav-btn .nav-link{
        background-color: transparent;
        border-radius: none;
        padding-left: 8px;
        padding-bottom: 15px;
        color: #c2c6f2;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item.nav-btn .nav-link:before,
    .navbar-area .navbar-collapse .navbar-nav .nav-item.nav-btn .nav-link:after{
        display: none;
    }
    .single-script-item .thumb img{
        width: 100%;
    }
    .script-page-content-area .script-sidebar {
        margin-top: 60px;
    }
    
    .script-page-content-area {
        padding-bottom: 90px;
    }
    .login-page-content-area .right-content-area {
        margin-top: 30px;
    }
    .login-page-content-area .right-content-area {
        margin-top: 30px;
    }
    
    .login-page-content-area .left-content-area .trustedby {
        display: inline-block !important;
    }
    .header-area .header-inner .subtitle {
        font-size: 70px;
        line-height: 80px;
    }
    .header-area .header-inner .title {
        font-size: 60px;
        line-height: 80px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 22px;
    }
    .header-area .header-bottom .header-bottom-inner .left-content-area .title {
        text-align: left;
        font-size: 38px;
        line-height: 48px;
    }
    
    .header-area .header-bottom .header-bottom-inner {
        padding: 55px 80px 50px 60px;
    }
    .we-can-develop .left-content,
    .we-can-develop .right-content
    {
        text-align: center;
    }
    .we-can-develop .left-content ul li:after,
    .we-can-develop .right-content ul li:after
    {
        display: none;
    }
    .we-can-develop .left-content ul li.active:before,
    .we-can-develop .right-content ul li.active:before
    {
        background-color: transparent;
    }
    .we-can-develop .left-content ul li:last-child:before,
    .we-can-develop .right-content ul li:last-child:before
    {
        display: none;
    }
    .we-can-develop .left-content ul li:before,
    .we-can-develop .right-content ul li:before
    {
        background-color: transparent;
        content: ',';
        bottom: 25px;
        right: -15px;
        top: auto;
        left: auto;
    }
    .we-can-develop .left-content ul li,
    .we-can-develop .right-content ul li
    {
        font-size: 18px;
        margin: 0 8px;
    }
    .single-featured-item{
        margin-bottom: 30px;
    }
    .single-featured-item .content .title{
        font-size: 20px;
        line-height: 25px;
    }
    .single-supported-by-human-item{
        margin-bottom: 30px;
    }
    .single-annoucement-item{
        margin-bottom: 30px;
    }
    .latest-annoucement-area{
        padding-bottom: 90px;
    }
    .single-counterup-item {
        margin-bottom: 30px;
    }
    .footer .footer-middle .part-link {
        margin-bottom: 30px;
    }
    .footer .footer-middle {
        padding-bottom: 30px;
    }
    .latest-item-row .latest-item-col:nth-child(6n+5) .hover-effect,
    .latest-item-row .latest-item-col:nth-child(6n+6) .hover-effect {
        position: absolute;
        left: 100%;
        right: 0;
        bottom: 0;
        z-index: 1; 
    }
    
    .latest-item-row .latest-item-col:nth-child(3n+7) .hover-effect ,
    .latest-item-row .latest-item-col:nth-child(3n+0) .hover-effect ,
    .latest-item-row .latest-item-col:nth-child(4n+8) .hover-effect ,
    .latest-item-row .latest-item-col:nth-child(4n+0) .hover-effect 
    {
        position: absolute;
        left: auto;
        right: 100%;
        bottom: 0;
        z-index: 1; 
    } 
    .single-pricing-plan{
        margin-bottom: 30px;
    }
    .pricing-plan-area,
    .how-we-work-area{
        padding-bottom: 90px;
    }
    .hire-us-header-area .single-how-it-work,
    .single-how-we-work-item {
        margin-bottom: 30px;
    }
    .hire-us-header-area{
        padding-bottom: 150px;
    }
    .footer .footer-bottom .part-social {
        text-align: left;
        margin-top: 30px;
    }
    .single-giving-item .right-content-area.right-area-bg{
        min-height: 350px;
    }
    .forum-page-content-area .sidebar {
        margin-top: 60px;
    }
    
    .forum-page-content-area {
        padding-bottom: 90px;
    }
    .forum-block .content .forum-title {
        font-size: 15px;
    }
    .development-page-conent-area .tsk-content-block{
        padding: 20px 0 20px 0;
    }
    .single-development-item .right-content-area img{
        width: 100%;
    }
    .tsk-table{
        display: block;
        overflow-x: scroll;
    }
    .tsk-table thead tr th.cpu{
        min-width: 300px;
        word-break: break-all;
    }
    .tsk-table thead tr th.core{
        min-width: 150px;
        word-break: break-all;
    }
    .tsk-table thead tr th.ram{
        min-width: 80px;
        word-break: break-all;
    }
    .tsk-table thead tr th.space{
        min-width: 120px;
        word-break: break-all;
    }
    .tsk-table thead tr th.bw{
        min-width: 120px;
        word-break: break-all;
    }
    .career-header-area .career-header-inner .title {
        font-size: 46px;
        line-height: 50px;
    }
    .career-header-area .career-header-inner p {
        font-size: 22px;
        line-height: 30px;
    }
    .single-event-item {
        margin-bottom: 30px;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        height: 0;
        overflow: hidden;
        transition: height .4s ease-in;
    }
    
    .navbar-area .navbar-collapse .navbar-nav .nav-item.show .dropdown-menu {
        height: auto;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link {
        padding: 10px 30px;
        border-bottom: 1px solid rgba(255,255,255,.2);
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link.pl-0,
    .navbar-area .navbar-collapse .navbar-nav .nav-item.nav-btn .nav-link{
        padding: 10px 30px !important;
    }
    .dropdown-toggle::after {
        left: auto;
        vertical-align: unset;
        position: absolute;
        right: 20px;
        top: 28px;
        transform: translateY(-50%);
    }

    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item {
        font-size: 16px;
        color: #c2c6f2;
    }
    .navbar-area.navbar.navbar-light .navbar-toggler {
        background: transparent;
        border: none;
        font-size: 25px;
        line-height: 50px;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; 
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        height: 0;
        overflow: hidden;
        transition: height .4s ease-in;
    }
    
    .navbar-area .navbar-collapse .navbar-nav .nav-item.show .dropdown-menu {
        height: auto;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link,
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item {
        padding: 10px 30px;
        border-bottom: 1px solid rgba(255,255,255,.2);
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link.pl-0,
    .navbar-area .navbar-collapse .navbar-nav .nav-item.nav-btn .nav-link,
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item{
        padding: 10px 30px !important;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item {
        padding-left: 45px !important;
    }
    
    .screenshort-block .button-list {
        display: block;
        text-align: center;
    }
    
    .screenshort-block .share-links {
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }
    
}

/* Tablet Layout wide: 768px. */

@media only screen and (max-width: 767px) {
    .navbar-area.nav-fixed {
        padding: 20px 0;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu {
        border: none;
    }
    .navbar-area .navbar-collapse {
        position: absolute;
        top: 75px;
        background: #000036;
        z-index: 9;
        right: 0;
        width: 250px;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show {
        border: 0;
    }
    .navbar-area.navbar.navbar-light .navbar-toggler {
        background: #fff;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link.pl-0 {
        padding-left: 0.4rem !important;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item {
        padding: 0;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item {
        color: #c2c6f2;
    }
    .dropdown-item {
        background: #000036;
        color: #fff;
        border: 0;
    }
    
    .navbar-area.nav-fixed .navbar-collapse {
        top: 80px;
    }
    .breadcrumb-area .right-content-area {
        float: none;
        margin-top: 10px;
    }
    .nav-container{
        position: relative;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item.nav-btn .nav-link{
        background-color: transparent;
        border-radius: none;
        padding-left: 8px;
        padding-bottom: 15px;
        color: #c2c6f2;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item.nav-btn .nav-link:before,
    .navbar-area .navbar-collapse .navbar-nav .nav-item.nav-btn .nav-link:after{
        display: none;
    }
    .footer .footer-middle .part-link {
        margin-bottom: 30px;
    }
    .footer .footer-middle {
        padding-bottom: 30px;
    }
    .tsk-table{
        display: block;
        overflow-x: scroll;
    }
    .tsk-table thead tr th.cpu{
        min-width: 300px;
        word-break: break-all;
    }
    .tsk-table thead tr th.core{
        min-width: 150px;
        word-break: break-all;
    }
    .tsk-table thead tr th.ram{
        min-width: 80px;
        word-break: break-all;
    }
    .tsk-table thead tr th.space{
        min-width: 120px;
        word-break: break-all;
    }
    .tsk-table thead tr th.bw{
        min-width: 120px;
        word-break: break-all;
    }
    .footer .footer-bottom .part-social {
        text-align: left;
        margin-top: 30px;
    }
    .footer .footer-middle .part-about{
        margin-bottom: 30px;
    }
    .single-script-item .thumb img {
        width: 100%;
    }
    .script-page-content-area{
        padding-bottom: 90px;
    }
    .script-page-content-area .script-sidebar{
        margin-top: 60px;
    }
    .login-page-content-area .left-content-area {
        margin-bottom: 40px;
    }
    .screenshort-block .button-list li a {
        width: 130px;
    }
    .header-area .header-inner .subtitle {
        font-size: 60px;
        line-height: 70px;
    }
    .header-area .header-inner .title {
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 0;
    }
    .header-area .header-bottom .header-bottom-inner {
        padding: 50px 40px 40px 40px;
    }
    .header-area .header-bottom .header-bottom-inner .left-content-area .title {
        text-align: left;
        font-size: 31px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .section-title .title{
        font-size: 40px;
        line-height: 50px;
    }
    .we-can-develop.margin-top-180{
        margin-top: 140px;
    }
    .we-can-develop .left-content ,
    .we-can-develop .right-content
    {
        text-align: center;
        display: none;
    }
    .we-can-develop .left-content ul li:after,
    .we-can-develop .right-content ul li:after
    {
        display: none;
    }
    .we-can-develop .left-content ul li.active:before,
    .we-can-develop .right-content ul li.active:before
    {
        background-color: transparent;
    }
    .we-can-develop .left-content ul li:last-child:before,
    .we-can-develop .right-content ul li:last-child:before
    {
        display: none;
    }
    .we-can-develop .left-content ul li:before,
    .we-can-develop .right-content ul li:before
    {
        background-color: transparent;
        content: ',';
        bottom: 25px;
        right: -15px;
        top: auto;
        left: auto;
    }
    .we-can-develop .left-content ul li,
    .we-can-develop .right-content ul li
    {
        font-size: 18px;
        margin: 0 8px;
    }
    .we-can-develop .left-content ul li {
        padding-top: 0;
    }
    .we-can-develop .right-content ul li{
        padding-bottom: 0;
    }
    .single-featured-item{
        margin-bottom: 30px;
    }
    .single-counterup-item{
        margin-bottom: 30px;
    }
    .counterup-area {
        padding-bottom: 90px;
    }
    .single-supported-by-human-item{
        margin-bottom: 30px;
    }
    .single-annoucement-item .thumb img{
        width: 100%;
    }
    .single-annoucement-item,
    .single-pricing-plan,
    .single-how-we-work-item{
        margin-bottom: 30px;
    }
    .latest-annoucement-area,
    .pricing-plan-area,
    .how-we-work-area,
    .forum-page-content-area{
        padding-bottom: 90px;
    }
    .call-to-action-one-inner .second-title {
        font-size: 40px;
        line-height: 50px;
    }
    .call-to-action-one-inner .colored-text {
        font-size: 20px;
        line-height: 30px;
    }
    .hire-us-header-area .single-how-it-work {
        margin-bottom: 30px;
    }
    .hire-us-header-area {
        padding-bottom: 150px;
    }
    .single-giving-item .right-content-area{
        min-height: 320px;
    }
    .content-footer .right-content {
        float: none;
        margin-top: 20px;
    }
    .forum-page-content-area .sidebar {
        margin-top: 60px;
    }
    .single-development-item .tsk-content-block{
        padding: 20px 0 20px 0;
    }
    .tsk-md {
        font-size: 25px !important;
        line-height: 35px !important;
    }
    .section-inner-title {
        font-size: 27px;
        line-height: 37px;
        margin-bottom: 35px;
    }
    .single-job-item img {
        width: 100%;
    }
    .career-header-area .career-header-inner .title {
        font-size: 35px;
        line-height: 45px;
    }
    .career-header-area .career-header-inner p {
        font-size: 25px;
        line-height: 34px;
    }
    .single-event-item {
        margin-bottom: 30px;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; 
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        height: 0;
        overflow: hidden;
        transition: height .4s ease-in;
    }
    
    .navbar-area .navbar-collapse .navbar-nav .nav-item.show .dropdown-menu {
        height: auto;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link,
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item {
        padding: 10px 30px;
        border-bottom: 1px solid rgba(255,255,255,.2);
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .nav-link.pl-0,
    .navbar-area .navbar-collapse .navbar-nav .nav-item.nav-btn .nav-link,
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item{
        padding: 10px 30px !important;
    }
    .dropdown-toggle::after {
        left: auto;
        vertical-align: unset;
        position: absolute;
        right: 20px;
        top: 27px;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item {
        font-size: 16px;
    }
    .timeline-area .timeline-inner-area .left-content-wrap,
    .timeline-area .timeline-inner-area .right-content-wrap {
        width: 100%;
    }
    .timeline-area .timeline-inner-area .right-content-wrap{
        margin-left: 0;
    }
    .timeline-area .timeline-inner-area .left-content-wrap:before,
    .timeline-area .timeline-inner-area .right-content-wrap:before{
        position: absolute;
        left: 50.5%;
        content: '';
        top: -19px;
        border-right: 12px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid #fff;
        border-radius: 3px;
        margin-left: -2px;
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 0;
    }
    .timeline-area .timeline-inner-area .left-content-wrap .title,
    .timeline-area .timeline-inner-area .right-content-wrap .title{
        text-align: center;
    }
    .timeline-area .timeline-inner-area .left-content-wrap{
        margin-top: 40px;
    }
    .timeline-area .timeline-inner-area .left-content-wrap:after,
    .timeline-area .timeline-inner-area .right-content-wrap:after{
        position: absolute;
        left: 50%;
        background-color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        content: '';
        top: -40px;
        border: 5px solid #2ecc71;
        -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .timeline-area .timeline-inner-area .left-content-wrap,
    .timeline-area .timeline-inner-area .right-content-wrap {
        margin-top: 40px;
    }
    .timeline-area .timeline-inner-area .left-content-wrap.margin-top-50{
        margin-top: 70px;
    }
    .wecan-develop-list-mobile-version {
        text-align: center;
        margin-top: 20px;
        display: block;
    }
    .screenshort-block .button-list {
        display: block;
        text-align: center;
    }
    
    .screenshort-block .share-links {
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px){
    .navbar-area.navbar.navbar-light .navbar-toggler {
        background: transparent;
        border: none;
        font-size: 25px;
        line-height: 50px;
    }
    .navbar-area .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show .dropdown-item {
        padding-left: 44px !important;
    }
}
/* medium tablet layout 599px */

@media only screen and (max-width: 599px) {
    .header-area .header-shape-1{
        display: none;
    }
   .navbar-area,
   .navbar-area.nav-fixed {
       padding: 20px;
   }
   .header-area .header-inner .subtitle {
        font-size: 45px;
        line-height: 55px;
    }
    .support-bar .left-content-area {
        text-align: center;
        display: block;
    }
    
    .support-bar .right-content-area {
        display: block;
        text-align: center;
        float: none;
    }
    .header-area .header-inner .title {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 0;
    }
    .header-area {
        position: relative;
        z-index: 0;
        padding: 235px 0 300px 0;
    }
    .header-area .header-bottom .header-bottom-inner {
        top: 153px;
    }
    .header-area .header-bottom .header-bottom-inner .left-content-area .title {
        text-align: left;
        font-size: 25px;
        line-height: 35px;
    }
    .section-title .title {
        font-size: 30px;
        line-height: 40px;
    }
    .single-featured-item .content .title {
        font-size: 18px;
        line-height: 26px;
    }
    .about-us-header-area .about-header-inner .title {
        font-size: 45px;
        line-height: 55px;
    }
    .navbar-area.margin-top-50 {
        margin-top: 70px;
    }
    .about-us-header-area .about-header-inner {
        padding: 135px 0 145px 0;
    }
    .career-header-area .career-header-inner .title {
        font-size: 28px;
        line-height: 36px;
    }
    .career-header-area .career-header-inner p {
        font-size: 20px;
        line-height: 30px;
    }
    .navbar-area.margin-top-50.not-absolute{
        margin-top: 0;
    }
    .career-header-area {
        padding: 142px 0 150px 0;
    }
    .breadcrumb-area {
        padding: 120px 0 120px 0;
    }
    .single-supported-item-two{
        padding: 30px 30px;
    }
    .section-inner-title {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 25px;
    }
    .data-center-contant-area .right-content-area {
        margin-top: 30px;
    }
    .call-to-action-one-inner .title {
        font-size: 42px;
        line-height: 45px;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
    .call-to-action-one-inner .second-title {
        font-size: 35px;
        line-height: 45px;
    }
    .call-to-action-one-inner .colored-text {
        font-size: 16px;
        line-height: 25px;
    }
    .forum-block .content .forum-meta-info li {
        font-size: 12px;
    }
    .giving-back-page-content {
        padding: 120px 15px;
    }
    .hire-us-header-area {
        padding-bottom: 120px;
        padding-top: 140px;
    }
    .latest-item-col {
        width: 49.33%;
    }
    .review-list .top .right-content {
        float: none;
        display: block;
    }
    .screenshort-block .button-list li a {
        width: auto;
        font-size: 14px;
        padding: 5px 10px;
        line-height: 33px;
    }
    .screenshort-block .button-list {
        display: block;
        text-align: center;
    }
    
    .screenshort-block .share-links {
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width:415px) and (max-width: 450px){
    .breadcrumb-area .right-content-area{
        width: 100%;
    }
    .screenshort-block .button-list li a{
        width: 130px;;
    }
    .item-details-content-area .top-content-area .price-header .item-details-tab-nav .nav-tabs .nav-item .nav-link{
        font-size: 14px;
    }
    .item-details-content-area .top-content-area .price-header .title {
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    .comments-list .replay-comment .top .content .right {
        float: none;
        display: block;
    }
    .header-area .header-inner .title {
        font-size: 33px;
        line-height: 43px;
    }
    .header-area .header-bottom .header-bottom-inner {
        padding: 50px 30px 40px 30px;
    }
    .header-area .header-bottom .header-bottom-inner .left-content-area .title{
        font-size: 24px;
    }
    .we-can-develop .left-content ul li, .we-can-develop .right-content ul li {
        font-size: 16px;
        margin: 0 8px;
    }
    .we-can-develop .left-content ul li{
        padding-bottom: 10px;
    }
    .we-can-develop .left-content{
        padding-bottom: 10px;
    }
    .we-can-develop .right-content ul li{
        padding-top: 10px;
    }
    .we-can-develop .right-content ul li:before{
        bottom: 10px;
    }
    .we-can-develop.margin-top-180{
        margin-top: 185px;
    }
    .forum-block .content .forum-meta-info li {
        margin: 0 2px;
    }
    .career-header-area .career-header-inner .title {
        font-size: 26px;
        line-height: 36px;
    }
    .career-header-area .career-header-inner p {
        font-size: 18px;
        line-height: 30px;
    }
}
/* mobile tablet layout 414px */

@media only screen and (max-width: 414px) {
    .career-header-area .career-header-inner .title {
        font-size: 25px;
        line-height: 30px;
    }
    .career-header-area .career-header-inner p {
        font-size: 18px;
        line-height: 28px;
    }
    .section-title .title {
        font-size: 27px;
        line-height: 37px;
    }
    .footer .footer-bottom {
        text-align: center;
    }
    
    .footer .footer-bottom .part-social {
        text-align: center;
    }
    .dashboard-page-content-area .top-content .left-content-area .content {
        padding-left: 65px;
    }
    .dashboard-page-content-area .top-content .left-content-area .thumb {
        width: 50px;
    }
    .dashboard-page-content-area .top-content .left-content-area .content .name {
        font-size: 18px;
    }
    
    .dashboard-page-content-area .top-content .left-content-area .content .time {
        font-size: 12px;
    }
    .dashboard-page-content-area .top-content .right-content-area .purchased-number,
    .dashboard-page-content-area .top-content .right-content-area .purchased-count .title{
        font-size: 18px;
    }
    .call-to-action-one-inner .title {
        font-size: 37px;
        line-height: 40px;
    }
    .call-to-action-one-inner .second-title {
        font-size: 28px;
        line-height: 38px;
    }
    .single-giving-item .left-content-area .title {
        font-size: 22px;
        line-height: 30px;
    }
    .header-area .header-bottom .header-bottom-inner {
        padding: 40px 25px 30px 25px;
    }
    .header-area .header-inner .title {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 0;
    }
    .header-area .header-bottom .header-bottom-inner .left-content-area .title {
        text-align: left;
        font-size: 23px;
        line-height: 35px;
    }
    .header-area .header-bottom .header-bottom-inner .right-content-area p {
        font-size: 14px;
        line-height: 26px;
        margin-top: 20px;
    }
    .we-can-develop.margin-top-180 {
        margin-top: 181px;
    }
    .screenshort-block .button-list li a {
        width: 140px;
        font-size: 14px;
        line-height: 33px;
    }
    .screenshort-block .button-list li.screenshort{
        width: 140px;
        font-size: 14px;
        line-height: 33px;
        left: 5px;
        top: 0;
    }
    .comments-list .top-comment .top .content .right {
        float: none;
        display: block;
    }
    .comments-list .replay-comment .top .content .right {
        float: none;
        display: block;
    }
    .item-details-content-area .top-content-area .price-header .title {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .breadcrumb-area .right-content-area{
        width: 100%;
    }
}

/* mobile tablet layout 375px */

@media only screen and (max-width: 384px) {
    .navbar-light .navbar-brand .logo img {
        width: 180px;
        margin-top: -10px;
    }
    .screenshort-block .button-list li {
        margin-bottom: 0;
    }
    .header-area .header-inner .subtitle {
        font-size: 40px;
        line-height: 50px;
    }
    .header-area .header-inner .title {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 0;
    }
    .header-area .header-bottom .header-bottom-inner .left-content-area .title {
        text-align: left;
        font-size: 21px;
        line-height: 32px;
    }
    .we-can-develop .left-content ul li, .we-can-develop .right-content ul li {
        font-size: 16px;
        line-height: 20px;
    }
    .we-can-develop .right-content ul li:before{
        bottom: 5px;
    }
    .sin-testiText:before,
    .sin-testiText:after {
        display: none;
    }
    .sin-testiText p{
        padding-left: 0;
        padding-right: 0;
    }
    .single-giving-item .left-content-area .title {
        font-size: 20px;
        line-height: 30px;
    }
    .forum-block .thumb {
        position: inherit;
        margin-bottom: 20px;
    }
    
    .forum-block .content {
        padding-left: 0;
    }
    .tsk-md {
        font-size: 20px !important;
        line-height: 30px !important;
    }
    .call-to-action-one-inner .title {
        font-size: 33px;
        line-height: 33px;
    }
    .call-to-action-one-inner .second-title {
        font-size: 25px;
        line-height: 38px;
    }
    .career-header-area .career-header-inner .title {
        font-size: 40px;
        line-height: 50px;
    }
    .wecan-develop-list-mobile-version li {
        margin: 0 10px;
        font-size: 14px;
    }
    .we-can-develop{
        padding-bottom: 90px;
    }
}

/* mobile tablet layout 360px */

@media only screen and (max-width: 360px) {
    .about-us-header-area .about-header-inner .title {
        font-size: 38px;
        line-height: 50px;
    }
    .single-annoucement-item .content .title {
        font-size: 18px;
        line-height: 25px;
    }
    .single-supported-item-two {
        padding: 30px 20px;
    }
    .single-supported-item-two .content .title {
        font-size: 20px;
        line-height: 36px;
    }
    .dashboard-page-content-area .top-content .dashbaord-tab-nav .nav-tabs .nav-item .nav-link {
        font-size: 14px;
    }
    .faq-page-inner-area .card .card-header a {
        padding-right: 10px;
    }
    .content-footer .right-content .content-footer-share li {
        margin-bottom: 10px;
    }
    .single-giving-item .left-content-area .title {
        font-size: 18px;
        line-height: 30px;
    }
    .header-area .header-inner .subtitle {
        font-size: 37px;
        line-height: 46px;
    }
    .header-area .header-inner .title {
        font-size: 26px;
        line-height: 35px;
        margin-bottom: 0;
    }
    .header-area .header-bottom .header-bottom-inner .left-content-area .title {
        text-align: left;
        font-size: 19px;
        line-height: 29px;
    }
    .we-can-develop .left-content ul li:before, 
    .we-can-develop .right-content ul li:before{
        display: none;
    }
    .single-counterup-item .top-content {
        width: 160px;
        height: 160px;
        margin-bottom: 15px;
    }
    .single-counterup-item .title {
        font-size: 21px;
        line-height: 30px;
    }
    .item-details-content-area .top-content-area .price-header .title {
        font-size: 25px;
        line-height: 31px;
    }
    .item-details-content-area .top-content-area .price-header .item-details-tab-nav .nav-tabs .nav-item .nav-link,
    .item-details-content-area .top-content-area .price-header .item-details-tab-nav .nav-tabs .nav-item .nav-link.active {
        font-size: 14px;
    }
    .google-recaptcha-wrapper.margin-bottom-30{
        margin-bottom: 10px;
    }
    .alreday-register a{
        display: block;
    }
    .footer .footer-middle .part-link h3 {
        font-size: 21px;
    }
    .breadcrumb-area .page-title {
        font-size: 35px;
        line-height: 45px;
    }
    .breadcrumb-area {
        padding: 100px 0 100px 0;
    }
    .footer .footer-middle .part-about img {
        width: 250px;
    }
    .wecan-develop-list-mobile-version li {
        padding-bottom: 0;
    }
}

/* mobile tablet layout 320px */

@media only screen and (max-width: 330px) {
    .screenshort-block .button-list li a {
        width: 140px;
        font-size: 13px;
        line-height: 25px;
        height: 34px;
    }
    .screenshort-block .button-list li.screenshort {
        width: 140px;
        font-size: 13px;
        line-height: 30px;
        height: 34px;
        left: 5px;
        top: 0;
    }
    .comments-block-2 .left-content .thumb {
        width: 50px;
    }
    
    .comments-block-2 .left-content .content {
        padding-left: 65px;
    }
    .comments-block-2 .left-content .content .title {
        font-size: 16px;
        line-height: 26px;
    }
    .header-area .header-inner .subtitle {
        font-size: 34px;
        line-height: 46px;
    }
    .header-area .header-inner .title {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 0;
    }
    .header-area .header-bottom .header-bottom-inner .left-content-area .title {
        font-size: 18px;
    }
    .single-shared-hosting-item-two .content .title {
        font-size: 20px;
        line-height: 30px;
    }
    .single-shared-hosting-item-two .icon {
        font-size: 45px;
        line-height: 41px;
    }
    .hire-us-header-area .single-how-it-work .content .title {
        font-size: 25px;
        line-height: 24px;
    }
    .faq-page-inner-area .card .card-header a {
        font-size: 17px;
        line-height: 25px;
    }
    .call-to-action-one-inner .colored-text {
        font-size: 14px;
        line-height: 25px;
    }
    .navbar-area.margin-top-50 {
        margin-top: 100px;
    }
    .timeline-area .timeline-inner-area .left-content-wrap p {
        text-align: left;
        font-size: 15px;
    }
}